<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<style>
	*{
		margin: 0;
		padding: 0;
	}
</style>
<frameset rows="118,*" framespacing="0" border="0">
	<frame id="top" src="/html/home_top.html" scrolling="no" frameborder="no">
	<frameset id="frame-body" cols="180,10,*" framespacing="0" border="0" >
		<frame id="frame-left" src="/html/frame_left.html" frameborder="no" scrolling="yes" />
		<frame id="frame-drag" src="/html/frame_drag.html" frameborder="no" scrolling="no" />
		<frame id="frame-main" name="frame-main" src="/html/goods_list.html" frameborder="no" scrolling="yes" />
	</frameset>
</frameset>
</html>
<script type="text/javascript">
	$(".shop_list").on("click",".redact",function(){
		console.log("1")
	})
</script>
